<div class="single-slide">
  <div class="row">
    <div class="slide-content">
      <div class="col">
          <div class="firstPart">
              <h1><span>Welcome, Bank Agent!</span><span class="span-turquoise"> Manage your clients with ease.</span></h1>
              <div class="inner text-size-medium">
                Utilize our platform to efficiently handle client accounts, transactions, and beneficiary management.
              </div>
          </div>
          <div class="subtext-row">
              <div class="subtext-container">
                  <img class="check" src="../../../assets/images/check.png" alt="">
                  Comprehensive Client Management
              </div>
              <div class="subtext-container">
                  <img class="check" src="../../../assets/images/check.png" alt="">
                  Transaction Monitoring
              </div>
              <div class="subtext-container">
                  <img class="check" src="../../assets/images/check.png" alt="">
                  Secure Operation
              </div>
              <div  class="subtext-container">
                  <img class="check" src="../../assets/images/check.png" alt="">
                  Availability 7 days a week
              </div>
          </div>
      </div>
  </div>
</div>
</div>

<div class="container" style="width: 80%;">

  <div class="cards">
    <div >
      <a class="card-single" (click)="clients()">
        <div class="card-header">
          <a id="a">Today's Clients</a>
          <span>5000</span>
        </div>
        <div>
          <fa-icon class="icon" [icon]="faUsers"></fa-icon>
        </div>
      </a>
    </div>

    <div >
      <a class="card-single" (click)="prospects()">
        <div class="card-header">
          <a id="a">Today's Prospects</a>
          <span>5000</span>
        </div>
        <div>
          <fa-icon class="icon" [icon]="faUsers"></fa-icon>
        </div>
      </a>
    </div>

    <div >
      <a class="card-single" (click)="transfers()">
        <div class="card-header">
          <a id="a">New Transfers</a>
          <span>90</span>
        </div>
        <div>
          <fa-icon class="icon" [icon]="faArrowRightArrowLeft"></fa-icon>
        </div>
      </a>
    </div>
  </div>

  <!-- <canvas baseChart [data]="datasets" [type]="'bar'"> </canvas> -->

</div>

