<div class="container">
    <div id="multi-step-form-container">
        <!-- Form Steps / Progress Bar -->
        <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
            <!-- Step 1 -->
            <li class="form-stepper-active text-center form-stepper-list" step="1">
                <a class="mx-2">
                    <span class="form-stepper-circle">
                        <span>1</span>
                    </span>
                    <div class="label">Check Transfer To Serve</div>
                </a>
            </li>
            <!-- Step 2 -->
            <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
                <a class="mx-2">
                    <span class="form-stepper-circle text-muted">
                        <span>2</span>
                    </span>
                    <div class="label text-muted">Transfer Recap</div>
                </a>
            </li>
            <!-- Step 3 -->
            <li class="form-stepper-unfinished text-center form-stepper-list" step="3">
                <a class="mx-2">
                    <span class="form-stepper-circle text-muted">
                        <span>3</span>
                    </span>
                    <div class="label text-muted">Check Benificiary Infos</div>
                </a>
            </li>
            <!-- Step 4 -->
            <li class="form-stepper-unfinished text-center form-stepper-list" step="4">
                <a class="mx-2">
                    <span class="form-stepper-circle text-muted">
                        <span>4</span>
                    </span>
                    <div class="label text-muted">Serve Transfer</div>
                </a>
            </li>
        </ul>


        <!-- Step Wise Form Content -->
        <form id="userAccountSetupForm" name="userAccountSetupForm" enctype="multipart/form-data" method="POST">
            <!-- Step 1 Content -->
            <section id="step-1" class="form-step">
                <h4 class="font-normal">Transfer reference</h4>
                <!-- Step 1 input fields -->
                <form #reference="ngForm">
                    <div class="mt-3">
                        <input type="text" class="form-input" placeholder="Transfer reference" name="reference" ngModel
                            required>
                    </div>
                    <div class="mt-3">
                        <button class="btn button btn-navigate-form-step" type="button" step_number="2"
                            [disabled]="reference.invalid" (click)="checkTransferToServe(reference)">Next</button>
                    </div>
                </form>
            </section>
            <!-- Step 2 Content, default hidden on page load. -->
            <section id="step-2" class="form-step d-none">
                @if (transferToServe){
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h5 class="mb-2 section-title"><strong>Transfer Details</strong></h5>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="fullName">Reference</label>
                                        <p>{{transferToServe?.reference}}</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="fullName">Amount</label>
                                        <p>{{transferToServe?.transferAmount}} DH</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="phone">Transfer Type</label>
                                        <p>{{transferToServe?.transferType}}</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="eMail">Transfer Reason</label>
                                        <p>{{transferToServe?.transferReason}}</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="eMail">Transfer Donner</label>
                                        @if (transferToServe?.agentId !== null){
                                        <p>{{transferToServe?.agentId}}</p>
                                        }@else{
                                            <p>{{transferToServe?.clientId}}</p>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h5 class="mt-3 mb-2 section-title"><strong>Benificiary</strong></h5>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Street">Name</label>
                                        <p>salespoint</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <p>address</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="createdAt">Created At</label>
                                        <p>date de creation</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                }@else {
                    <div class="mt-3">
                        Transfer doesn't exist !
                    </div>
                }
                <div class="mt-3">
                    <button class="button btn-navigate-form-step m" type="button" step_number="1">Prev</button>
                    <button class="button btn-navigate-form-step" type="button" step_number="3"
                        [disabled]='transferToServe'>Next</button>
                </div>

            </section>
            <!-- Step 3 Content, default hidden on page load. -->
            <section id="step-3" class="form-step d-none">
                <h2 class="font-normal">Personal Details</h2>
                <!-- Step 3 input fields -->
                <div class="mt-3">
                    Step 3 input fields goes here..
                </div>
                <div class="mt-3">
                    <button class="button btn-navigate-form-step" type="button" step_number="2">Prev</button>
                    <button class="button btn-navigate-form-step" type="button" step_number="4">Next</button>
                </div>
            </section>

            <!-- Step 4 Content, default hidden on page load. -->

            <section id="step-4" class="form-step d-none">
                <h2 class="font-normal">Personal Details</h2>
                <!-- Step 4 input fields -->
                <div class="mt-3">
                    Step 4 input fields goes here..
                </div>
                <div class="mt-3">
                    <button class="button btn-navigate-form-step" type="button" step_number="3">Prev</button>
                    <button class="button submit-btn" type="submit">Save</button>
                </div>
            </section>
        </form>
    </div>
</div>