<div class="container infos">
    <h1>
       Agent information
    </h1>
    <div class="infos-body row">
        <div class=" col">
            <div class="labelInfo">
                First Name :
            </div>
            <div class="valeurInfo">
                {{agent.firstName}} </div>
            <div class="labelInfo">
                Last Name :
            </div>
            <div class="valeurInfo">
                {{agent.lastName}}  </div>
            <div class="labelInfo">
                Phone Number :
            </div>
            <div class="valeurInfo">
                {{agent.phoneNumber}}  </div>
            <div class="labelInfo">
                Email :
            </div>
            <div class="valeurInfo">
                {{agent.email}}  </div>
        </div>
        <div class=" col">
            <div class="labelInfo">
                Sales Point :
            </div>
            <div class="valeurInfo">
                {{agent.salesPoint}}   </div>
            <div class="labelInfo">
                Created At :
            </div>
            <div class="valeurInfo">
                {{agent.createdAt}}   </div>
            <div class="labelInfo">
                Account :
            </div>
            <div class="valeurInfo">
                {{agent.account}}    </div>
        </div>    
        
    </div>

</div>