/* body {
    margin: 0;
    padding-top: 40px;
    color: #008995;
    background: #f5f6fa;
    position: relative;
    height: 100%;
} */
.profile-container{
    max-width: 900px;
    font-size: 14px;
    margin-top : 7rem;
    height: 500px;

}
.profile-section{
    height: 100%;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}


.card {
    background: #ffffff;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

p{
    color: #9fa8b9;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;

}
img{
    width: 100%;
    height: 1005;
}
.user-avatar {

    width: fit-content;
}
.section-title{
    color: #008995;
}